.ticket {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ticket_top {
  display: flex;
  gap: 10px;
}

.ticketLabel {
  flex: 1;
  display: flex;
}

.ticket_top svg {
  opacity: 0;
  cursor: pointer;
}

.ticket:hover .ticket_top svg {
  opacity: 1;
}

.title {
  font-weight: bold;
  font-size: 15px;
}

.description p {
  font-size: 13px;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer svg {
  height: 12px;
  width: 12px;
}

.footer p {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 0;
}