.app {
  height: 100vh;
  width: 100%;
  padding: 10px;
  overflow:hidden;
}

.layout{
  display:flex;
  height: 100vh;
  flex-direction: row;
}

.sidebar {
  width: 220px;
  min-width: 100px;
  background-color: lightblue;
  padding: 5px;
  border-radius: 5px;
}

.mainContent {
  flex: 1;
  padding: 20px;
  overflow: hidden;
}
.outerBoard {
  height: 100vh;
  overflow-x: auto;
}

.innerBoard {
  height:100vmin;
  display: flex;
  gap: 15px;
  padding: 10px;
  min-width: max-content;
  
}

.app_navbar{
  padding: 10px;
  border-bottom: 1px solid black;
}