.app {
  height: 100vh;
  width: 100%;
  padding: 10px;
}

.layout {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 220px;
  min-width: 100px;
  background-color: lightblue;
  padding: 5px;
  border-radius: 5px;
}

.mainContent {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.app_navbar {
  padding: 10px;
  border-bottom: 1px solid black;
}

.outerBoard {
  flex: 1;
  overflow-x: auto;   /* horizontal scroll for boards */
  padding: 10px;
}

.innerBoard {
  display: flex;
  gap: 15px;
  height: 100%;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  border: 1px solid gray;
}