.board {
  background-color: #cfcfcf;
  padding: 10px;
  border-radius: 8px;

  flex: 1;
  min-width: 250px;

  display: flex;
  flex-direction: column;
}

.board_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board_title_left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.title span {
  color: gray;
  margin-left: 6px;
  border-radius: 50%;
  background-color: white;
  padding: 2px 8px;
  font-size: 15px;
}

.ticketContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 10px;

  flex: 1;
  overflow-y: auto;   /* THIS enables board scroll */
}
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  border: 1px solid gray;
}